<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                        <conditions logicalGrouping="MatchAll">
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
				<rule name="Redirect Poll" stopProcessing="true">
                    <match url=".*" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^poll.tommyjams.com" />
                        </conditions>
                    <action type="Redirect" url="http://www.tommyjams.com/poll.php" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Pollresults" stopProcessing="true">
                    <match url=".*" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^pollresults.tommyjams.com" />
                        </conditions>
                    <action type="Redirect" url="http://www.tommyjams.com/pollresults.php" redirectType="Permanent" />
                </rule>
                <rule name="Redirect OBOM" stopProcessing="true">
                    <match url=".*" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^obom.tommyjams.com" />
                        </conditions>
                    <action type="Redirect" url="http://www.tommyjams.com/obom" redirectType="Permanent" />
                </rule>
                <rule name="Redirect blog" stopProcessing="true">
                    <match url=".*" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^blog.tommyjams.com" />
                        </conditions>
                    <action type="Redirect" url="http://tommyjams.com/blog" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite> 
    </system.webServer>
</configuration>